<link rel="stylesheet" href="css/signup.css">
<div class="container">

<fieldset>
      <legend> <h3>Sign Up for News!</h3> </legend>
      <form name="regForm" novalidate>
        <i class="glyphicon glyphicon-user"></i>
        <input  type="text" name='firstname' required minlength="1" ng-maxlength="20"
          placeholder="First Name" ng-model="signupctrl.user.firstname">

        <span ng-if="(regForm.firstname.$error.required || regForm.firstname.$error.minlength)
           && regForm.firstname.$touched">
            Enter your name, please!</span>

        <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
            Enter less than 20 characters, please!</span>

        <br/>
        <br/>
        <i class="glyphicon glyphicon-user"></i>
        <input  type="text" name='lastname' required minlength="1" ng-maxlength="20"
          placeholder="Last Name" ng-model="signupctrl.user.lastname">

        <span ng-if="(regForm.lastname.$error.required || regForm.lastname.$error.minlength)
           && regForm.lastname.$touched">
              Enter your last name, please!</span>

        <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
              Enter less than 20 characters, please!</span>

        <br/>
        <br/>
        <i class="glyphicon glyphicon-envelope"></i>
        <input  type="email" name='emailaddress' required minlength="5"
              placeholder="Email Address" ng-model="signupctrl.user.emailaddress">

        <span ng-if="(regForm.emailaddress.$error.required || regForm.emailaddress.$error.minlength)
               && regForm.emailaddress.$touched">
              Enter your e-mail, please!</span>

        <span ng-if="regForm.emailaddress.$invalid && regForm.emailaddress.$touched">
              Invalid email address! </span>
        <br/>
        <br/>
        <i class="glyphicon glyphicon-phone"></i>
        <input  type="tel" name='phonenum' required pattern="^(\d{3})-(\d{3})-(\d{4})$"
                placeholder="XXX-XXX-XXXX" ng-model="signupctrl.user.phonenum">

        <span ng-if="(regForm.phonenum.$error.required || regForm.phonenum.$invalid)
                      && regForm.phonenum.$touched">
              Sorry, not a valid number!</span>


        <br/>
        <br/>
        <i class="glyphicon glyphicon-cutlery"></i>
        <input type="text" name="menu_number" placeholder="Menu Number" required minlength="1" ng-maxlength="3"
        ng-model="signupctrl.user.menu_number">


        <span ng-if=" (regForm.menu_number.$error.required || regForm.menu_number.$error.minlength) && regForm.menu_number.$touched">
            Wrong menu number, please try again! Use something like "L" for Lunch or "CU" for Curry! </span>
        <span ng-if="regForm.menu_number.$error.maxlength && regForm.menu_number.$touched">
          Wrong menu number, please try again! Use something like "L" for Lunch or "CU" for Curry!</span>
    </form>
      
        <br/>
        <button type='submit' ng-click="signupctrl.submit()"
        ui-sref="public.itemsinlist({category:signupctrl.user.menu_number})"
        ng-disabled="regForm.$invalid"> Save</button>

        <div ng-if="signupctrl.menuinfo.menu_items.length !== 0 &&
        signupctrl.menuinfo.menu_items.length !== defined">
          Check your saved information in "My Info"!
        </div>
        <div ng-if="signupctrl.menuinfo.menu_items.length === 0">
          You entered wrong menu number, please, try again!
        </div>
        <br/>
</fieldset>

</div>
