<div class="container">
<h3 ui-sref="public.signup" ng-if="infoctrl.data === undefined">{{infoctrl.message}}
<a> Sign up Now! </a></h3>

  <div ng-if="infoctrl.response.menu_items.length === 0"><h1> Invalid menu number </h1></div>

    <div ng-show="infoctrl.data.firstname !== undefined ">
       
      First Name: {{infoctrl.data.firstname}}  <br/>
      Last Name: {{infoctrl.data.lastname}} <br/>
      E-mail: {{infoctrl.data.emailaddress}}  <br/>
      Phone Number: {{infoctrl.data.phonenum}}  <br/>
      <div ng-if="infoctrl.data.firstname !== undefined && infoctrl.response.menu_items.length !== 0">
      <h2>Favorite:</h2>
      {{infoctrl.response.category.name}} ( {{infoctrl.response.category.short_name}} )<br />
      <img alt="{{short_name}}.jpg here"
      ng-src="images/menu/{{infoctrl.response.category.short_name}}/{{infoctrl.response.category.short_name}}.jpg"><br />
      </div>
    </div>
</div>
